@font-face {
  font-family: bambu;
  src: url("./assets/The_Bambank_Script.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

/* App.jsx */
body {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #020032,
    #070033,
    #0c0134,
    #110134,
    #150135,
    #1b002f,
    #1f0029,
    #210024,
    #1f001a,
    #1b0011,
    #120007,
    #000000
  );
  background-repeat: no-repeat;
  background-size: cover;
}

/* Server.jsx */
.online {
  background-color: rgba(0, 128, 0, 0.7);
}

.offline {
  background-color: rgba(255, 0, 0, 0.7);
}

.wait {
  background-color: rgba(161, 161, 170, 0.3);
}

.update {
  background-image: linear-gradient(
    to right top,
    rgba(0, 0, 0, 0.5),
    rgba(82, 39, 40, 0.5),
    rgba(160, 80, 52, 0.5),
    rgba(222, 140, 42, 0.5),
    rgba(255, 215, 0, 0.5)
  );
}

.table-head {
  text-shadow: 0 0 5px rgba(202, 138, 4, 0.8), 0 0 10px rgba(202, 138, 4, 0.8),
    0 0 15px rgba(202, 138, 4, 0.8), 0 0 20px rgba(202, 138, 4, 0.8),
    0 0 30px rgba(202, 138, 4, 0.8), 0 0 40px rgba(255, 253, 247, 0.8),
    0 0 50px rgba(255, 253, 247, 0.8);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
  font-size: larger;
}

table,
th,
td {
  border: 2px solid rgba(255, 255, 255, 0.25);
}

th,
td {
  padding: 10px;
}

/* Navbar.jsx */
.head {
  background-image: linear-gradient(
    315deg,
    #f0f0f0 0%,
    #c9c9c9 25%,
    #633a55 50%,
    #c9c9c9 75%,
    #f0f0f0 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: motivation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.head::before {
  position: relative;
  content: "";
  width: 200%;
  height: 200%;
  background-image: linear-gradient(
    315deg,
    #f0f0f0 0%,
    #c9c9c9 25%,
    #633a55 50%,
    #c9c9c9 75%,
    #f0f0f0 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: motivation;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes motivation {
  to {
    background-position: 200% center;
  }
}

.categories {
  background-color: rgba(25, 25, 25, 0.1);
  font-family: bambu;
}

li {
  color: rgb(212, 212, 216);
}

/* Layout.jsx */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/*@media (max-height: 960px) {
  main {
    position: fixed;
    top: 8rem;
    width: 100%;
    height: 80%;
    overflow-y: auto;
  }
}

@media (min-height: 961px) {
  main {
    position: fixed;
    top: 8rem;
    width: 100%;
    height: 82%;
    overflow-y: auto;
  }
}*/

.nav-links {
  padding: 8px;
}

.nav-links:hover {
  text-shadow: 0 0 5px rgba(255, 253, 247, 0.8),
    0 0 10px rgba(255, 253, 247, 0.8), 0 0 15px rgba(255, 253, 247, 0.8),
    0 0 20px rgba(255, 253, 247, 0.8), 0 0 30px rgba(255, 253, 247, 0.8),
    0 0 40px rgba(255, 253, 247, 0.8), 0 0 50px rgba(255, 253, 247, 0.8);
  color: rgba(255, 253, 247, 0.8);
}

/* Player.jsx */
.noData {
  color: red;
}

.data {
  color: whitesmoke;
}

.data:hover {
  background-color: rgb(255 255 255 / 0.15);
}

/* Stream.jsx */
.streamLink:hover {
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  background: #ecefcf;
}

/* Home.jsx */
.newsHeader {
  font-family: bambu;
}

img {
  margin: 0 auto;
}
